img {
    display: inline;
    box-sizing: border-box;
    margin: 30 auto;
    padding: 00px;
    max-width: 150px;
    border-radius: 50%;
    border: 10px solid gray;
    }
#hero_image {
    border: 10px solid blue;
    max-width: 600px; 
    border-radius: 0;
    display: block;
    margin: 0 auto;
    }
body div.images {
    background-color: blueviolet;
    box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    display: block;
}   
    
a {
    align-content: center;
    padding: 20px;
    padding-top: 50px;
}