/*grid setup */
.cherry_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    margin: 100px;    
    grid-gap: 0px;
    justify-items: center;
}
#hero_image {
    grid-column: 1/2;
    grid-row: 1/3;
    margin: 0 auto;
}
.title {
    font-size: 10em;
    font-family:'Times New Roman', Times, serif; 
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
    align-self: center;
    margin: 0 auto;
    }
p {
    color: rgb(85, 15, 15);
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
    grid-column: 2/3;
    grid-row: 2/3;
    margin:10px auto;
    align-self: center;
    }
aside{
    grid-column: 2/3;
    grid-row:1/3;
    background-color: gray;
    }
